@import "../../variables";
table td {
  text-align: center;
  border: 1px solid $base-color;
  padding: 3px;
}
table {
  border: 1px solid $base-color2;
  margin: auto;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.tableContainer {
  @include flex-center;
}
.searchContainer {
  @include flex-center;
}
a,
a:hover,
a:focus,
a:active {
  font-size: 12px;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
